body{
    background-color: rgb(120, 120, 201);
    margin: 0%;
}
h1{
    font-family: 'Noto Serif', serif;
    font-size: 100px;
    text-align: center;
    margin: 0%;
    text-decoration-line: underline;
    text-decoration-color:purple;
}
h2{
    font-size: 60px;
    text-align: center;
}
h3{
    font-family: 'Noto Serif', serif;
    font-size: 100px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: blueviolet;
    margin: 0;
}
h4{
    font-size: 60px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: purple;
}
h5{
    font-family: 'Noto Serif', serif;
    font-size: 100px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    margin: 0%;

}
h6{
    font-family: 'Noto Serif', serif;
    font-size: 100px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    margin: 0%;

}
p{
    font-size: 50px;
    text-align: center;
    margin: 0%;

}
#intro{
    display:block;
    width:100%;
    background-color: palegoldenrod;

}
#intro2{
    display:block;
    width:100%;
    background-color: palegoldenrod;
}
#intro3{
    display: block;
    width: 100%;
    font-size: 50px;
    text-decoration-style: solid;
}
#intro4{
    display: block;
    width: 100%;
    font-size: 50px;
    background-color: palegoldenrod;
}
#intro5{
    display: block;
    width: 100%;
    font-size: 50px;
}

#firstpic{
    width:50%;
    height:250px;
    float: left;

}
#secondpic{
    width: 50%;
    height:250px;
    float: right;
}
#thirdpic{
    width:100%;
    height:250px;
    margin: 0%;
    float: right;
    
}

.header{
    display:block;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url("../images/oceanh1.gif");
}
.header2{
    display:block;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/oceanh2.gif");
}
.header3{
    display:block;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("../images/oceanh3.gif");
}
.header4{
    display:block;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ocean.gif");


}
.content{
    
    display:block;
    float: center;
    width:100%;
    background-color: palegoldenrod;
    min-height: 150px;
}
ul{
    list-style: none;
    background-color: azure;
    top:0;
    position: fixed;
    width:100%;
    margin:0;
}
ul li a{
    display: block;
    margin: 0;
    color: wheat;
    font-size: 25px;
    block-size: 0%;
}
    ul li{
float: left;
width:25%;
text-decoration: nine;
text-align: center;

}
li a:hover{
background-color: rgb(156, 98, 11);
color:yellow;}